@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h3 class="text-dark mb-1">
        Dynamic Form
    </h3>
    <div class="row mt-2">
        <div class="col-12">
            <form action="#!" id="dependentForm" method="get">

                <div class="mb-3">
                    <label>Make</label>
                    <select class="form-select" 
                        name="make" 
                        hx-get="/api/form/get-car-models" 
                        hx-target="#car-models" 
                        hx-indicator=".htmx-indicator">
                        <option value="audi">Audi</option>
                        <option value="toyota">Toyota</option>
                        <option value="bmw">BMW</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Model</label>
                    <select class="form-select" id="car-models" name="car-model">
                        <option value="a1">A1</option>
                        <option value="a3">A3</option>
                        <option value="a6">A6</option>
                    </select>
                </div>

                <div class="mb-3">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="GetInput" name="GetInput" value="true"
                               hx-get="/api/form/get-form-element/Input/Name/Full Name"
                               hx-trigger="click"
                               hx-target="#get-input-element"
                               hx-swap="innerHTML">
                        <label class="form-check-label" for="GetInput">Get Input</label>
                    </div>
                </div>
                <div id="get-input-element">
                </div>

                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="GetOtherInput" name="GetOtherInput" value="true"
                               hx-post="/api/form/set-other-input"
                               hx-trigger="click"
                               hx-target="#get-other-input-element"
                               hx-swap="innerHTML">
                        <label class="form-check-label" for="GetOtherInput">Get Other Input</label>
                    </div>
                </div>
                <div id="get-other-input-element">
                </div>

                <div class="mb-3">
                    <label for="bio_select" class="form-label">Show Bio?</label>
                    <select class="form-select" id="bio_select" name="bio_select" 
                            hx-post="/api/form/set-show-bio"
                            hx-trigger="click"
                            hx-target="#get-bio-textarea"
                            hx-swap="innerHTML">
                        <option value="">Select answer</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div id="get-bio-textarea">
                </div>

                <div class="mb-3">
                    <label for="gender" class="form-label">Select the gender</label>
                    <select class="form-select" id="gender" name="gender"
                            hx-post="/api/form/set-gender-details"
                            hx-trigger="click, changed"
                            hx-target="#set-selected-gender"
                            hx-swap="innerHTML">
                        <option value="">Select gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div id="set-selected-gender">
                    <!--For selecting gender-->
                </div>

                <div class="mb-3 mt-3">
                    <label for="continue_form">Do you wish to continue? <small class="text-muted">(Type 'yes' to continue)</small></label>
                    <input type="text" class="form-control" id="continue_form" name="continue_form"
                           hx-post="/api/form/check-continue-answer"
                           hx-trigger="keyup changed delay:250ms"
                           hx-target="#get-continue-button"
                           hx-swap="innerHTML">
                </div>

                <div class="mb-3 mt-3">
                    <label for="your_email">Your Email <small>(Type 'test@example.com' to test)</small></label>
                    <input type="email" class="form-control" id="your_email" name="your_email"
                           hx-post="/api/form/check-for-existing-email"
                           hx-trigger="keyup changed delay:250ms"
                           hx-target="#existing-email-error"
                           hx-swap="innerHTML"
                           hx-indicator=".htmx-indicator">
                </div>
                <div id="existing-email-error">
                </div>
                <div id="get-continue-button">
                </div>
            </form>
        </div>
    </div>
</div>