@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h3 class="text-dark mb-1">
        Counters
    </h3>
    <div class="row mt-2">
        <div class="col-12">
            <a href="#" class="btn btn-danger mr-1"
               hx-post="/forms/reduce-count"
               hx-trigger="click"
               hx-target="#counter-div"
               hx-swap="innerHTML">
                <i class="bi bi-dash-circle"></i>
                Decrement
            </a>

            <a href="#" class="btn btn-primary mr-1"
               hx-post="/forms/add-count"
               hx-trigger="click"
               hx-target="#counter-div"
               hx-swap="innerHTML">
                <i class="bi bi-plus-square-fill"></i>
                Increment
            </a>
        </div>

    </div>
    <div class="col-12 mt-2 text-lead" id="counter-div">
        <span class="text-dark h1">
            0
        </span>
    </div>
</div>

<div class="container-fluid">
    <h3 class="text-dark mb-1">
        Pulse/Poll
    </h3>
    <div class="col-12 mt-2 text-lead" id="counter-div">
        <span class="text-dark h1">
            Total Users : <span class="danger" hx-get="/forms/get-total-user"
                                hx-trigger="load delay:1s"
                                hx-swap="outerHTML">
                                Loading...
                          </span>
        </span>
    </div>
</div>